.container{
    display: flex;
    flex-direction: row;
}

.outer{
    margin: 8px;
    border: aquamarine 4px;
    border-style: double;
    width: 500px;
    height: 500px;
    position: relative;
}

.box{
    background-color: rgb(83, 201, 248);
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

.info{
    border: aquamarine 4px;
    border-style: double;
    padding: 16px;
    margin: 8px;
    display: inline-block;
}

.actions{
    width: 64px;
    height: 24px;
    font-size: medium;
    font-weight: 500;
}