.box{
    background-color: rgb(83, 201, 248);
    position: absolute;
    width: 6rem;
    height: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: x-large;
    font-weight: 600;
}

.boxes{
    margin: 8px;
}

.info{
    border: aquamarine 4px;
    border-style: double;
    padding: 16px;
    margin: 8px;
    display: inline-block;
}

.actions{
    width: 96px;
    height: 48px;
    font-size: large;
    font-weight: 600;
}